.notification {
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.error {
  color: red;
}

.notification.ok {
  color: green;
}

.post {
  padding: .3rem .5rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: .5rem 0;
}