.notification {
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

.notification.error {
  color: red;
}

.notification.ok {
  color: green;
}

.post {
  padding: 0.3rem 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.5rem 0;
}

.removeBtn {
  background-color: indianred;
  border-radius: 3px;
  margin-top: 0.5rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}

.nav {
  background-color: rgb(202, 202, 202);
  padding: 0.3rem;
}

.nav__item {
  margin: 0.3rem;
}

.nav__btn-logout {
  margin-left: 0.2rem;
}
