.notification {
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

.notification.error {
  color: red;
}

.notification.ok {
  color: green;
}

.post {
  padding: .3rem .5rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: .5rem 0;
}

.removeBtn {
  background-color: indianred;
  border-radius: 3px;
  margin-top: .5rem;
  font-weight: bold;
  padding: .2rem .5rem;
}